body {
  font-family: arial, sans-serif;
  color: #70757a;
}
h1 {
  margin-bottom: 0px;
}
img {
  display: inline-block;
  vertical-align: top;
  height: 60px;
  margin-top: unset;
  width: 60px;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 50px auto;
}
.weather-app {
  height: 400px;

  padding: 40px;
  border: 1px solid #dadce0;
  border-radius: 20px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature {
}
.weather-temperature img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.weather-temperature strong {
  color: #202124;
  display: inline-block;
  line-height: 60px;
  font-size: 48px;
}
.weather-temperature .weather-units {
  position: relative;
  font-size: 14px;
  top: -24px;
}
